@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Silkscreen:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: " Poppins ", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #a9c4f5;
}

.container {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
}

.form-image {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6bd6c;
  padding: 4rem;
}

.form-image img {
  width: 34rem;
}

.form {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  padding: 1.9rem;
}

.form-header {
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
}

.log-in-button {
  display: flex;
  align-items: center;
}

.log-in-button button {
  border: none;
  background-color: #8e95de;
  padding: 0.4rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.log-in-button button :hover {
  background-color: #b1a0fa;
}

.log-in-button button a {
  text-decoration: none;
  font-weight: 500;
  color: #fff;
}

.form-header h1::after {
  content: "";
  display: block;
  width: 5rem;
  height: 0.3rem;
  background-color: #8e95de;
  margin: 0 auto;
  position: absolute;
  border-radius: 10px;
}

.input_group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem 0;
}

.input-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.1rem;
}

.input-box input {
  margin: 0.6rem 0;
  padding: 0.8rem 1.1rem;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 6px #0000001c;
}

.input-box input:hover {
  background-color: #eeeeee75;
}

.input-box input:focus-visible {
  outline: 1px solid #8e95de;
}

.input-box label,
.gender-titles h6 {
  font-size: 0.75rem;
  font-weight: 600;
  color: #000000c0;
}

.input-box input::placeholder {
  color: #000000be;
}

.gender-groups {
  display: flex;
  justify-content: space-between;
  margin-top: 0.62rem;
  padding: 0 0.5rem;
}

.gender-input {
  display: flex;
  align-items: center;
}

.gender-input input {
  margin-right: 0.35rem;
}

.gender-input label {
  font-size: 0.81rem;
  font-weight: 600;
  color: #000000c0;
}

.continue-button button {
  width: 100%;
  margin-top: 2.5rem;
  border: none;
  background-color: #8e95de;
  padding: 0.62rem;
  border-radius: 5px;
  cursor: pointer;
}

.continue-button button:hover {
  background-color: #b1a0fa;
}

.continue-button button a {
  text-decoration: none;
  font-size: 0.85rem;
  font-weight: 500;
  color: #fff;
}

@media screen and (max-width: 1330px) {
  .form-image {
    display: none;
  }

  .container {
    width: 50%;
  }

  .form {
    width: 100%;
  }
}

@media screen and (max-width: 1064px) {
  .container {
    width: 90%;
    height: auto;
  }

  .input_group {
    flex-direction: column;
    overflow-y: scroll;
    flex-wrap: nowrap;
    max-height: 10rem;
    padding-right: 5rem;
  }

  .gender-inputs {
    margin-top: 2rem;
  }

  .gender-groups {
    flex-direction: column;
  }

  .gender-input {
    margin-top: 0.5rem;
  }
}
